<div class="container">
  <h1><%= @division.name %></h1>

  <% @employees.each do |employee| %>
    <ul>
      <li><a href="/employees/<%= employee.id %>"><%= employee.name %></a></li>
    </ul>
  <% end %>

  <form class="col s12" action="/employees/new/" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input name="id_division" type="hidden" value="<%= @division.id %>">
        <input type="text" name="name">
        <label for="name">Enter Employee Name</label>
        <button type="submit" class="btn waves-effect waves-medium">Submit<i class="material-icons right">send</i></button>
      </div>
    </div>
  </form>
</div>
