<div class="container">
  <h1><%= @employee.name %></h1>
  <h3>Division:</h3>
  <h4><%= @employee.division.name %></h4>
  <a href="/" class = "btn">Home</a>
  <a href="/divisions/<%= @employee.division.id%>" class="btn">Back To Division</a>
</div>
